@use '../base';
$blue-white: #ffe8ff;

.chat-frame {
    position: relative;
    height: calc(100vh - 50px);
    min-height: 10rem;
    max-height: 100%;
    background: base.$white;
    transition: all 0.3s ease-in-out;

    &__header {
        position: relative;
        padding: 1rem 2rem;
        display: flex;
        height: 20%;
        max-height: 100px;
        background: $blue-white;

        &__user {
            flex: 0 0 70%;
            display: flex;
            gap: 1rem;
            position: relative;
            align-items: center;

            &__avatar {
                height: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__info {
                a {
                    color: base.$dark;
                }

                p {
                    font-weight: bold;
                }

                small {
                    color: base.$blue-light;
                }
            }
        }

        &__contact {
            flex: 0 0 30%;
            margin-right: 0;
            margin-left: auto;
            gap: 5px;
            display: flex;
            max-width: max-content;
            align-items: center;
        }
    }

    &__main {
        position: relative;
        height: 80%;
        min-height: 10rem;
        background: base.$white;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    &__control {
        display: flex;

        padding: 1rem 1rem 0 1rem;
        width: 100%;
        position: relative;
        justify-content: space-around;

        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 2rem);
            height: 2px;
            top: -2px;
            left: 50%;
            transform: translate(-50%, 0);
            background: rgb(220, 220, 220);
            box-shadow: 0 -5px 15px rgba($color: #0000ff, $alpha: 0.2);
        }

        .btn_circle {
            padding: 12px !important;
            background: rgb(130, 165, 226);
            background: linear-gradient(50deg, base.$blue-light 0%, base.$blue 100%);
            color: white;
        }

        &__left-action,
        &__right-action {
            display: flex;
            gap: 2px;
            width: max-content;
            justify-content: center;
        }

        &__chat-container {
            display: flex;
            flex: 0 0 80%;
            position: relative;

            input {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}