* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$white-smoke: #f5f7f9;
$white: #ffffff;
$blue-light: #8db4f8;
$blue: #447de7;
$dark: #373938;
$gray: #969696;

html,
body {
    background: $white-smoke;
    font-family: Roboto, sans-serif;
    color: $dark;

    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $blue;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: #ffffff !important;
}

.text-red {
    color: red !important;
}

.text-blue {
    color: darkblue;
}

.text-dark {
    color: black;
}

.text-light-gray {
    color: lightgray;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: none;
    padding: 1rem;
    background: none;
    font-weight: bold;
    color: $gray;
    cursor: pointer;
}

.card {
    border: none;
    border-radius: 3px;
    background: $white;
    // box-shadow: 5px 5px 10rem rgba($color: #000000, $alpha: 0.1);
}

.form-control {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 16px;

    &:hover,
    &:active,
    &:focus {
        border: none;
        border-bottom: 1px solid rgb(200, 200, 200);
        outline: none;
    }
}

.bg-white-smoke {
    background: $white-smoke;
}

.bg-white {
    background: $white;
}

.bg-primary-gradient {
    background: $blue-light;
    background: linear-gradient(100deg, $blue-light 0%, $blue 100%);
    color: white;
}

button.bg-primary-gradient,
a.bg-primary-gradient {
    &:hover {
        background: linear-gradient(-45deg, $blue-light 0%, $blue 100%);
    }
}

.rounded-1 {
    border-radius: 5px;
}

.box-shadow-1 {
    box-shadow: 3px 3px 15px rgba($color: #000000, $alpha: 0.1);
}

